
-- Criar enum para as armas
create type weapon_type as enum (
  'Xuan De',
  'Rei da Montanha',
  'Punho de Pei Tou',
  'Yuanba',
  'Emperor Qin',
  'Xuan Zang',
  'Zi Ya'
);

-- Criar tabela para a fila de espera
create table public.queue_35k (
  id bigint generated by default as identity not null,
  created_at timestamp with time zone not null default now(),
  ordem integer not null,
  player_name text not null,
  weapon weapon_type,
  status text not null default 'Faltam intrépidas e poder',
  is_completed boolean not null default false,
  constraint queue_35k_pkey primary key (id)
) TABLESPACE pg_default;

-- Criar tabela para os itens entregues
create table public.delivered_35k (
  id bigint generated by default as identity not null,
  created_at timestamp with time zone not null default now(),
  player_name text not null,
  weapon weapon_type,
  completed_at timestamp with time zone not null default now(),
  constraint delivered_35k_pkey primary key (id)
) TABLESPACE pg_default;

-- Permissões para queue_35k
alter table public.queue_35k enable row level security;

create policy \
Queue
35k
visível
para
todos
os
usuários
autenticados.\
  on queue_35k for select
  to authenticated
  using (true);

create policy \Queue
35k
pode
ser
inserida
por
usuários
autenticados.\
  on queue_35k for insert
  to authenticated
  with check (true);

create policy \Queue
35k
pode
ser
atualizada
por
usuários
autenticados.\
  on queue_35k for update
  to authenticated
  using (true);

create policy \Queue
35k
pode
ser
deletada
por
usuários
autenticados.\
  on queue_35k for delete
  to authenticated
  using (true);

-- Permissões para delivered_35k
alter table public.delivered_35k enable row level security;

create policy \Delivered
35k
visível
para
todos
os
usuários
autenticados.\
  on delivered_35k for select
  to authenticated
  using (true);

create policy \Delivered
35k
pode
ser
inserida
por
usuários
autenticados.\
  on delivered_35k for insert
  to authenticated
  with check (true);

create policy \Delivered
35k
pode
ser
atualizada
por
usuários
autenticados.\
  on delivered_35k for update
  to authenticated
  using (true);

create policy \Delivered
35k
pode
ser
deletada
por
usuários
autenticados.\
  on delivered_35k for delete
  to authenticated
  using (true);

-- Inserir dados iniciais
insert into queue_35k (ordem, player_name) values
  (1, 'Hidrika'),
  (2, 'Cobra'),
  (3, 'Dilke'),
  (4, 'Morcega'),
  (5, 'Crabral'),
  (6, 'DaroKU'),
  (7, 'MartinsR'),
  (8, 'Nikole'),
  (9, 'Bizu'),
  (10, 'Jota'),
  (11, 'Beleg');

