
-- Criar a tabela clan_items
create table public.clan_items (
  id bigint generated by default as identity not null,
  created_at timestamp with time zone not null default now(),
  item_name text not null,
  quantity integer not null default 0,
  constraint clan_items_pkey primary key (id)
) TABLESPACE pg_default;

-- Permissões
alter table public.clan_items enable row level security;

create policy \
Clan
items
são
visíveis
para
todos
os
usuários
autenticados.\
  on clan_items for select
  to authenticated
  using (true);

create policy \Clan
items
podem
ser
inseridos
por
usuários
autenticados.\
  on clan_items for insert
  to authenticated
  with check (true);

create policy \Clan
items
podem
ser
atualizados
por
usuários
autenticados.\
  on clan_items for update
  to authenticated
  using (true);

create policy \Clan
items
podem
ser
deletados
por
usuários
autenticados.\
  on clan_items for delete
  to authenticated
  using (true);

-- Inserir os itens iniciais
insert into clan_items (item_name, quantity) values
  ('Pérola 4', 43),
  ('Pérola 5', 0),
  ('Pérola 6', 7),
  ('Pérola 7', 0),
  ('Intrépida', 0),
  ('Pedra Mágica nv7', 11),
  ('Pedra Afiada nv7', 17),
  ('Pedra Amarela nv7', 20),
  ('Pedra Vermelha nv7', 18);

